# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/
**/build/


gradle.properties


# User configuration.
local.properties

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/


gradle.properties